*{
  background-color: khaki;
  margin: 0;
}

.App {
  text-align: center;
}

header{
  background-color: goldenrod;
  height: 20vh;
}

main{
  display: flex;
  flex-direction: row;
}

main div{
  width: 40%;
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1{
  font-family: Arial;
  font-size: 30px;
  color: goldenrod;
  border: 2px black;
  margin-top: 5vh;
}

#p{
  color: black;
  font-family: Arial;
  margin-top: 2vh;
}

#esquerda{
  flex-direction: column;
  align-items: baseline;
}

h3{
  color: goldenrod;
}