*{
  background-color: khaki;
  margin: 0;
}

.App {
  text-align: center;
}

header{
  background-color: goldenrod;
  height: 20vh;
  color: khaki;
  font-size: 50px;
  font-family: Arial;
}

#main{
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  justify-content: center;
  margin-left: 30%;
}

h1{
  font-family: Arial;
  font-size: 30px;
  color: goldenrod;
  border: 2px black;
  margin-top: 5vh;
}

#p{
  color: black;
  font-family: Arial;
  margin-top: 5vh;
}

#table{
  border: 5px black;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}
#table button{
  border: 50px goldenrod;
  cursor: pointer;
}

#input{
  margin-top: 2vh;
}

@media screen and (max-width: 500px) {
  header{
    height: 18vh;
    font-size: 42px;
  }
  
  #main{
    width: 80%;
    margin-left: 10%;
  }
  
  h1{
    font-size: 25px;
  }
  
  #table{
    border: 5px black;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
  }
  #table button{
    border: 50px goldenrod;
    cursor: pointer;
  }
  
  #input{
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  
}